
.container {
  width: 960px;
  margin: 0 auto;
}

.clearfix::after {
  clear: both;
  display: block;
  content: "";
}

.icon::before {
  content: "";
  padding-right: 10px;
  border-left: 7px solid #9cb4a4;
}



/******* header *******/

header {
  margin-bottom: 30px;
}

.header-title-area h1 {
  font-weight: normal;
  padding: 25px;
  text-align: center;
}

.header-nav {
  background-color: black;
  padding: 10px;
  border-radius: 10px;
}

.header-nav li {
  list-style-type: none;
  background-color: white;
  float: left;
  padding: 10px 20px;
  margin-right: 10px;
  background-color: white;
  border-radius: 20px;
  display: block;
  cursor: pointer;
  transition: all 1s;
}

.header-nav li a {
  color: white;
  text-decoration: none;
  color: black;
}



/******* main *******/

.articles {
  width: 600px;
  margin: 0 15px;
  float: left;
}



.article .thumbnail {
  width: 150px;
  height: 150px;
  float: left;
}

.article .thumbnail img {
  width: 145px;
  margin: auto;
}

.article .contents {
  width: 450px;
  height: 150px;
  float: left;
}

.article .date {
  font-size: 13px;
}

.article .title {
  font-size: 15px;
}

.article .overview {
  font-size: 11px;
}

/******* aside *******/

.latests {
  width: 300px;
  margin: 0 15px;
  float: right;
}

.latests h2 {
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}

.latest .thumbnail {
  width: 75px;
  height: 75px;
  float: left;
  text-align: center;
}

.latest .thumbnail img {
  width: 74px;
  margin: auto;
}

.latest .contents {
  height: 75px;
  float: left;
}

.latest .date {
  font-size: 10px;
}

.latest .title {
  font-size: 12px;
}

/******* footer *******/

footer {
  margin: 30px 0;
  text-align: center;
}

.copyright {
  padding: 50px 0;
  border-top: 1px solid black;
}



/******* contact-page *******/
#contact .form {
  background-color: #eaeaea;
  padding: 30px 50px;
}

#contact .form dl dt {
  width: 165px;
  padding: 10px 0;
  float: left;
  clear: both;
}

#contact .form dl dd {
  padding: 10px 0;
}

#cocntact .form .name {
  width: 240px;
  height: 30px;
}

#contact .form .email {
  width: 300px;
  height: 30px;
}

#contact .form .tel {
  width: 240px;
  height: 30px;
}

#contact .form .type {
  width: 180px;
  height: 30px;
}

#contact .form .message {
  width: 660px;
  height: 150px;
}

#contact .form button {
  background-color: black;
  color: white;
  font-size: 20px;
  width: 120px;
  display: block;
  text-align: center;
  line-height: 50px;
  border-radius: 5px;
  margin-left: 165px;
}

#contact .form button:hover {
  text-decoration: none;
  background-color: white;
  color: black;
  border: 1px solid black;
  transition: all 0.5s;
  cursor: pointer;
}

#contact .form .required::after {
  content: " * ";
  color: #ff0000;
}

#contact .form .attention {
  margin: 20px 0 0 165px;
}

#contact .form .attention p {
  font-size: 13px;
}
